@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Raleway:wght@100;200;300;400;500;600&display=swap');

html {
    font-family: 'Poppins', sans-serif, Trebuchet, sans-serif;
  }
        